@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  height: 105%;
  width: 100%;
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-color: #597c55;
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

a:link,
a:visited {
  color: white;
  font-size: 125%;
  margin-left: 0.25%;
  margin-right: 0.25%;
  transition: 0.2s;
}

a:hover {
  color: #b684c8;
}

a:active {
  color: #bf63b3;
}

#main {
  margin-top: 5%;
}

.iconHome {
  width: 400px;
  height: auto;
  margin-top: 2.5%;
}

.iconHome {
  width: 300px;
  height: auto;
}

#desc {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

footer {
  position: absolute;
  top: 125%;
  width: 98%;
}

@media (max-width: 800px) {
  #desc {
    margin-left: 5%;
    margin-right: 5%;
  }
}
